.side-error-warning {
  background: rgba(251, 217, 44, 0.16);
  border-radius: 0 4px 4px 0;
  width: 473px;
  height: 90px;
}

.side-error-warning__title {
  font-family: @ubuntu-font;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: @color-brown;
}

.side-error-warning__text {
  font-family: @ubuntu-font;
  font-size: 10px;
  line-height: 11px;
  color: @color-brown;
}

.side-error-warning--hidden {
  display: none;
}
